/* Утилиты */

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

ul,
li,
h1,
h2,
h3,
p {
  padding: 0px;
  margin: 0px;
}

.color-web {
  color: #212121;
}

.logo,
.logo-ft {
  font-family: 'Raleway', sans-serif;
}

.logo,
.logo-ft {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  /* identical to box height */
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}

.log-studio {
  color: #212121;
}

.log-studio:hover {
  color: #2196f3;
}

.log-studio:focus {
  color: #2196f3;
}

.log-studio-mail {
  color: #757575;
}

/* :current (.log-studio .button-style-port) {
  color: #2196f3;
} */

.log-studio-mail:hover {
  color: #2196f3;
}

.back-color {
  /* width: 1600px; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2f303a;
}

.caption-text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 200px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 200px;
  padding: 10px 32px;
  line-height: 30px;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
}

.button:active {
  color: #2196f3;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
}

.advantage-color {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantage-color-first {
  margin-top: 94px;
  margin-bottom: 50px;
}

.what-we-do {
  display: flex;
  padding-bottom: 94px;
}

.what-we-do-position:not(:last-child) {
  margin-right: 30px;
}

.back-color-manager:not(:last-child) {
  margin-right: 30px;
}

.names {
  margin-top: 30px;
  margin-bottom: 10px;
}

.function {
  padding-bottom: 30px;
}

.advantage-color-first,
.ourteam {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.ourteam {
  padding-top: 94px;
  margin-bottom: 50px;
}

.ourteam > ul {
  padding-bottom: 94px;
}

.advantage-about-color {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.back-color-ourteam {
  background-color: #f5f4fa;
}

/* .ourteam {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
} */

.back-color-manager {
  background-color: #ffffff;
}

.back-color-manager > h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.back-color-manager > p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.back-ftr {
  /* width: 1600px; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-section-one);
}

.logo-ft-sudio {
  color: #ffffff;
}

.adrs-color {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.log-studio,
.log-studio-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

/* portfolio.css */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .port-align-text {
  display: flex;
  flex-wrap: wrap;
}

.port-align-text > li {
  display: block;
} */

.button-style-port {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border: none;
  border-radius: 4px;
  color: var(--black-text);
}

.button-style-port:hover {
  color: var(--white-text);
  background-color: var(--blue-text);
}

.button-style-port:focus {
  border: none;
  border-radius: 4px;
  color: var(--white-text);
  background-color: var(--blue-text);
}

.caption-port {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;

  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--black-text);
}

.subject-port {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;

  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--pepel-text-phone);
}

/* Позиционирование элементов div.container + margin padding */

.container-second {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  outline: 2px solid tomato;
}

.header {
  background-color: #fff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}

.flex-nav,
.flex-ul,
.flex-mail {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
}

.advantage {
  display: flex;
  margin-top: 94px;
  justify-content: center;
}

.ourteam-container {
  display: flex;
  padding-bottom: 94px;
}

.logo-ft {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
}

.adrs-color {
  margin-bottom: 9px;
}

.mail-ft {
  margin-bottom: 9px;
}

.mail-tel {
  padding-bottom: 60px;
}

.port-nav {
  padding-top: 94px;
  margin-bottom: 50px;
}

.position:not(:last-child) {
  margin-right: 50px;
}

.flex-mail {
  margin-left: auto;
}

.flex-mail .log-studio-display + .log-studio-display {
  margin-left: 50px;
}

.advantage-position {
  width: 270px;
}
